.ListMenuBar {
    font-family: 'Nunito';
    font-style: normal;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 808px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 16px 0px 0px 16px;
}
.Logo img{
    position: absolute;
    width: 100px;
    height: 80px;
    left: 57px;
    top: 25px;
}
.MenuBar{
    position: absolute;
    width: 100%;
    height: 10%;
    left: 5px;
    text-align: left;
}
.MenuBar img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-top: 10px;
}
.MenuBar a {
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #7E7D88;
    margin-left: 49px; 
    text-decoration: none;
}
.MenuBar .Dash {
    margin-left: 1px;
}
.ItemDashBoard {
    position: absolute;
    width: 98%;
    height: 50%;
    left: 0px;
    top: 150px;
}
.ItemDashBoard:hover{
    background: #FFF2E7;
}
.ItemDashBoard:hover a{
    color: #FF7506;
}
.ItemDashBoard:hover img{
    background: #FF7506;
}
.ItemDashBoard Link{
    margin-left: 1px;
}
.ItemThiebi {
    position: absolute;
    width: 98%;
    height: 50%;
    left: 0px;
    top: 204px;
}
.ItemThiebi:hover{
    background: #FFF2E7;
}
.ItemThiebi:hover a{
    color: #FF7506;
}
.ItemThiebi:hover img{
    background: #FF7506;
}
.ItemDichvu {
    position: absolute;
    width: 98%;
    height: 50%;
    left: 0px;
    top: 258px;
}
.ItemDichvu:hover{
    background: #FFF2E7;
}
.ItemDichvu:hover a{
    color: #FF7506;
}
.ItemDichvu:hover img{
    background: #FF7506;
}
.ItemCapso {
    position: absolute;
    width: 98%;
    height: 50%;
    left: 0px;
    top: 312px;
}
.ItemCapso:hover{
    background: #FFF2E7;
}
.ItemCapso:hover a{
    color: #FF7506;
}
.ItemCapso:hover img{
    background: #FF7506;
}
.ItemBaocao {
    position: absolute;
    width: 98%;
    height: 50%;
    left: 0px;
    top: 366px;
}
.ItemBaocao:hover{
    background: #FFF2E7;
}
.ItemBaocao:hover a{
    color: #FF7506;
}
.ItemBaocao:hover img{
    background: #FF7506;
}
.ItemCaidat {
    position: absolute;
    width: 98%;
    height: 62%;
    left: 0px;
    top: 420px;
}
.ItemCaidat:hover{
    background: #FFF2E7;
}
.ItemCaidat:hover a{
    color: #FF7506;
}
.ItemCaidat:hover img{
    background: #FF7506;
}
.BoxCaiDat{
    position: absolute;
    width: 181px;
    height: 125px;
    left: 3px;
    top: 48px;
    background: white;
    border-radius: 16px ;
    box-shadow: 2px 2px 8px rgba(248, 248, 248, 0.8);
    opacity: 0;
    filter: alpha(opacity=50);
    border: 1px solid #FFC89B
}
.BoxCaiDat:hover {
    opacity: 1; 
}
.BoxCaiDat:hover a{
   color: #535261;
   background-color: white;
}
.PT1:hover{
    background-color: #FFF2E7;
}
.PT2:hover{
    background-color: #FFF2E7;
}
.PT3:hover{
    background-color: #FFF2E7;
}
.ButtonLogout button {
    position: absolute;
    width: 170px;
    height: 49px;
    left: 12px;
    top: 90%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #FFF2E7;
    border-radius: 8px;
    border-color: #FF7506;
    color: #FF7506;
}
.ButtonLogout span{
    padding: 5px 1px;
    margin-right: 8px;
}