
.EquipHeader p {
    top: 0px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: #7E7D88;
    margin-left: 226px;
}
.EquipHeader img
{
    padding: 1px 10px;
    height: 9px;
}
.EquipHeader a
{
    font-size: 20px;
    color: #FF7506;
    text-decoration: none;
    font-weight: 600;
}

.BoxAction select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    width: 300px;
    height: 43px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1.5px solid #FFAC6A;
    border-radius: 8px;
}

.BoxSearch {
    font-family: 'Nunito';
    font-style: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: absolute;
    left: 1290px;
    top: 190px;
    width: 16%;
}
.BoxSearch h3{
    position: absolute;
    width: 75%;
    height: 88px;
    right: 26%;
    font-weight: 600;
    font-size: 16px;
    color: #282739;
}
.BoxText{
    text-align: center;
}
table {
    position: absolute;
    width: 1335px;
    margin: 20px 40px;
    left: 185px;
    top: 225px;
    border-radius: 16px;
    overflow: hidden;
    background-color: white;
}
.statusAction{
    display: flex;
    align-items: center;
    height: 100%;
    margin-top: 3px;
}
.linkUpdate a{
    display: flex;
    color: #4277FF;
    justify-content: center;
}
.link a{
    display: flex;
    justify-content: center;
    color: #4277FF;
}
td > .LinkWatch
{
    color: #4277FF;
    margin-left: 10px;   
}
td{
    line-height: 13px;
    height: 50px;
}
th {
    border: 1px solid #FFE3CD;
    text-align: center;
    width: 106px;
    height: 49px;
    background: #FF9138;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}
tr:nth-child(2n) {
    background-color: #FFF2E7;
}
.element {
    display: contents;
    margin-left: 10px;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.actions{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin: 5px 10px;
}
.title{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535261;
}
.statusConnect{
   display: flex;
   justify-content: center;
}
.titleConnect{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535261;
    margin-top: 12px;
}
.actionsSuccess{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin: 18px 10px;
}
.titleSuccess{
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535261;
    margin-top: 12px;
}
.Contents{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 288px;
    height: 32px;
    left: 1290px;
    top: 800px;
}
.DateStart h3 {
    position: absolute;
    font-family: 'Nunito';
    width: 800px;
    height: 24.08px;
    left: 13.5%;
    top: 120px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}
.IconNext {
    position: absolute;
    left: 21.5%;
    top: 183px;
    bottom: 25%;
}
.date{
    top: 170px;
    left: 13.5%; 
    height: 49px;
    width: 125px;
}
.dates{
    width: 125px;
    top: 120px; 
    left: 23%; 
    height: 50px;
}

