.InfoLeft {
    position: absolute;
    width: 370px;
    height: 606px;
    left: 224px;
    top: 172px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 12px;
}

.InfoRight {
    position: absolute;
    width: 718px;
    height: 606px;
    left: 618px;
    top: 172px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 12px;
}

.ServiceDetails h1 {
    position: absolute;
    width: 171px;
    height: 36px;
    left: 224px;
    top: 11%;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FF7506;
}

.InfoLeft h1 {
    position: absolute;
    width: 162px;
    height: 30px;
    left: 16px;
    top: -4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;

}
.AddHeader p {
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    top: 0px;
    color: #7E7D88;
    margin-left: 226px;
}
.AddHeader img
{
    padding: 1px 10px;
    height: 9px;
}
.AddHeader .ds {
    font-size: 20px;
    font-weight: 600;
    color: #7E7D88;
}
.AddHeader a
{
    color: #FF7506;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    padding-right: 3px;
}
.InfoUnder h2 {
    position: absolute;
    width: 136px;
    height: 30px;
    left: 16px;
    top: 170px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}

.NameCode {
    margin-top: 35px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    align-items: center;
    color: #282739;
}
.Title {

    margin-left: 10px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    align-items: center;
    color: #535261;
}
.Info1 {
    margin-top: 5px;
    margin-left: 20px;
}

.InfoBox {
    margin-top: 40px;
}

.rangeTitle {
    margin: 10px 20px;
    width: 55px;
    height: 30px;
    margin-top: 30px;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    text-align: center;
    padding: 8px 0;
    color: #535261;
}
.rangeTitles {
    margin: 10px 90px;
    width: 55px;
    height: 30px;
    margin-top: 30px;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    text-align: center;
    padding: 8px 0;
    color: #535261;
}
.rangeTitles p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1px;
    font-size: 16px; color: #535261;
}
.rangeTitle p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1px;
    font-size: 16px; color: #535261;
}
.Option {
    display: flex;
    margin-top: 32px;
    margin-left: 20px;
    height: 30px;
}
.NameCodes {
    position: absolute;
    width: 120px;
    height: 24px;
    left: 20px;
    top: 390px;
}

.DateStart p {
    position: absolute;
    width: 106px;
    height: 24.08px;
    left: 196px;
    top: 0px;
}

.InfoRight p {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739;
}

.BoxAction p {
    position: absolute;
    width: 74px;
    height: 24px;
    left: 25px;
    top: 0px;
}
.BoxAction select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    width: 160px;
    height: 44.15px;
    left: 24px;
    top: 43.85px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.IconNext {
    position: absolute;
    left: 330px;
    right: 29.17%;
    top: 55px;
    bottom: 25%;
}
.BoxSearch {
    font-family: 'Nunito';
    font-style: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: absolute;
    left: 495px;
    top: 55px;
    width: 30%;
}
.BoxSearch h3{
    position: absolute;
    width: 75%;
    height: 100px;
    right: 26%;
    font-weight: 600;
    font-size: 16px;
    color: #282739;
}

.SearchBar table {
    width: 669px;
    height: 441px;
    left: 25px;
    top: 104px;
}
.date{
    top: 46px;
    left: 196px; 
    height: 45px;
    width: 125px;
}
.dates{
    top: 0px; 
    left: 350px; 
    height: 45px;
    width: 125px;
}
.Stt{
    text-align: center;
}
.Pagination {
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 288px;
    height: 32px;
    left: 406px;
    top: 561px;
}
.statusConnect {
    display: flex;
    justify-content: center;
}

.actionsConnect {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin: 18px 10px;
}

.actionsConnects {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: blue;
    margin: 18px 10px;
}

.actionsConnectss {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 18px 10px;
}

.titleConnect {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535261;
    margin-top: 12px;
}
.Table {

    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 669px;
    height: 441px;
    left: -10px;
    top: 100px;
    border-radius: 12px;
}
.EditService {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    position: absolute;
    width: 80px;
    height: 94px;
    left: 1360px;
    top: 170px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
}

.EditService img {
    width: 25px;
    height: 25px;
    display: flex;
    padding: 0 24px;
}

.EditService a {
    width: 72px;
    height: 60px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FF7506;
    text-decoration: none;
}
.Back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    position: absolute;
    width: 80px;
    height: 94px;
    left: 1360px;
    top: 290px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
}

.Back img {
    width: 28px;
    height: 28px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.Back a {
    width: 65px;
    height: 50px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    text-decoration: none;
}