
.ServiceHeader p {
    top: 0px;
    font-size: 20px;
    font-weight: 600;
    position: absolute;
    color: #7E7D88;
    margin-left: 226px;
}
.ServiceHeader img
{
    padding:1px 10px;
    height: 9px;
}
.ServiceHeader a
{
    font-size: 20px;
    color: #FF7506;
    text-decoration: none;
    font-weight: 600;
}
.TextService h1 {
    position: absolute;
    width: 38%;
    height: 36px;
    font-family: 'Nunito';
    font-style: normal;
    top: 11%;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: #FF7506;
    margin-left: 13.5%;
}
.BoxAction {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    width: 300px;
    height: 44px;
    left: 226px;
    top: 184px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
}

.BoxAction select {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    gap: 24px;
    position: absolute;
    width: 300px;
    height: 44px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    border: 1.5px solid #FFAC6A;
    border-radius: 8px;
}

.BoxAction h3 {
    font-family: 'Nunito';
    font-style: normal; 
    position: absolute;
    bottom: 2.1rem;
    height: 24px;
    left: 1px;
    font-weight: 600;
    font-size: 16px;
    color: #282739;
}
.BoxSearch {
    font-family: 'Nunito';
    font-style: normal;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: absolute;
    left: 1290px;
    top: 190px;
    width: 16%;
}
.BoxSearch h3{
    position: absolute;
    width: 75%;
    height: 88px;
    right: 26%;
    font-weight: 600;
    font-size: 16px;
    color: #282739;
}
table {
    position: absolute;
    width: 1335px;
    margin: 12px 40px;
    left: 185px;
    top: 225px;
    border-radius: 12px;
    overflow: hidden;
    background-color: white;
}
.BoxText{
    text-align: center;
    line-height: 8px;
    height: 20px;
}
/* th, td {

    text-align: center;
} */
/* td>a:hover {
    border-bottom: 1px solid blue;
} */
a{
    color: #4277FF;
}
.link {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    height: 100%;
    text-align: center;  
}
.linkUpdate {
    text-align: center;
    text-decoration: none;
}

th {
    border: 1px solid #FFE3CD;
    width: 106px;
    height: 49px;
    background: #FF9138;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

tr:nth-child(2n) {
    background-color: #FFF2E7;
}

.element {
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* .status {
    display: flex;
} */

.actions {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin: 5px 10px;
}

.title {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535261;
}

.statusConnect {
    display: flex;
}

.actionsConnect {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: red;
    margin: 18px 10px;
}

.titleConnect {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535261;
    margin-top: 12px;
}

.actionsSuccess {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
    margin: 18px 10px;
}

.titleSuccess {
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #535261;
    margin-top: 12px;
}

.Contents {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    position: absolute;
    width: 288px;
    height: 32px;
    left: 1290px;
    top: 787px;
}

.AddDevice {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 18px 4px;
    width: 80px;
    height: 94px;
    left: 94%;
    top: 244px;
    background: #FFF2E7;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px 0px 0px 8px;
}

.AddDevice img {
    width: 33px;
    height: 33px;
}
.AddDevice a {
    width: 72px;
    height: 70px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
    text-decoration: none;
    bottom: 50px;
}
.IconNext {
    position: absolute;
    left: 42.8%;
    top: 195px;
}
.DateStart p{
    position: absolute;
    width: 106px;
    height: 24px;
    left: 548px;
    top: 137px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #282739; 
}
.date{
    top: 185px;
    left: 550px;
    height: 44px;
}
.dates{
    top: 141px;
    left: 750px; 
    height: 44px;
}