.ListMenuBar {
    font-family: 'Nunito';
    font-style: normal;
    position: absolute;
    text-align: center;
    width: 200px;
    height: 808px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(219, 219, 219, 0.5);
    border-radius: 16px 0px 0px 16px;
}
.Logo img{
    position: absolute;
    width: 100px;
    height: 80px;
    left: 57px;
    top: 25px;
}
.MenuBar img {
    position: absolute;
    width: 20px;
    height: 20px;
    margin-left: 16px;
    margin-top: 4px;
}
.MenuBar a {
    font-weight: 600;
    font-size: 16px;
    line-height: 27px;
    color: #7E7D88;
    margin-left: 49px; 
    text-decoration: none;
}
/* .MenuBar .Dash {
    margin-left: 1px;
} */
/* .ItemDashBoard {
    position: absolute;
    width: 70%;
    left: 0px;
    top: 150px;
    background: #FFFFFF;
} */
/* .ItemDashBoard:hover{
    background-color: #FF7506;
} */
/* .ItemDashBoard Link{
    margin-left: 1px;
} */
/* .ItemThiebi {
    position: absolute;
    width: 58%;
    height: 48px;
    left: 0px;
    top: 204px;
} */
/* .ItemDichvu {
    position: absolute;
    width: 58%;
    height: 48px;
    left: 0px;
    top: 258px;
} */
.ItemCapso {
    position: absolute;
    width: 56%;
    height: 48px;
    left: 0px;
    top: 166px;
}
/* .ItemBaocao {
    position: absolute;
    width: 58%;
    height: 48px;
    left: 0px;
    top: 366px;
} */
/* .ItemCaidat {
    position: absolute;
    width: 100%;
    height: 48px;
    right: 5%;
    top: 420px;
} */
.ButtonLogout button {
    position: absolute;
    width: 170px;
    height: 49px;
    left: 12px;
    top: 90%;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background: #FFF2E7;
    border-radius: 8px;
    border-color: #FF7506;
    color: #FF7506;
}
.ButtonLogout span{
    padding: 5px 1px;
    margin-right: 8px;
}