.UpdateInfor {
    position: absolute;
    width: 1152px;
    height: 550px;
    left: 224px;
    top: 156px;
    background: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}
.UpdateInfor p {
    position: absolute;
    left: 21px;
    top: 4px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #FF7506;
}
.UpdateInfor Input {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 270px 10px 12px;
    gap: 10px;
    width: 530px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.UpdateHeader p {
    font-size: 20px;
    font-weight: 500;
    position: absolute;
    top: 10px;
    line-height: 20px;
    color: #7E7D88;
    margin-left: 226px;
}
.UpdateHeader img
{
    padding:0 10px;
}
.UpdateHeader a
{
    color: #FF7506;
    text-decoration: none;
    font-weight: 500;
}
.UpdateText h1 {
    font-family: 'Nunito';
    font-style: normal;
    position: absolute;
    width: 38%;
    height: 36px;
    top: 5rem;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: #FF7506;
    margin-left: 13.5%;
}
.titlePage {
    width: 2000px;
    height: 24px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    align-items: center;
    color: #282739;
    flex: none;
}
.titlePages  {
    position: absolute;
    width: 179px;
    height: 21px;
    left: 12px;
    top: 107px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    display: flex;
    align-items: center;
    color: #7E7D88;
}
.Icon {
    color: red;
}
.Required
{
    margin-top: 26px;
}

.UpdateRight {
    position: absolute;
    width: 540px;
    height: 76px;
    left: 588px;
    top: 66px;
}
.UpdateRight select {
    /* box-sizing: border-box; */
    /* flex-direction: row; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 12px;
    width: 530px;
    height: 44px;
    background: #FFFFFF;
    border: 1.5px solid #D4D4D7;
    border-radius: 8px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.UpdateLeft {
    position: absolute;
    width: 540px;
    height: 76px;
    left: 24px;
    top: 66px;
}
.useSevice {
    position: absolute;
    width: 1104px;
    height: 76px;
    left: 24px;
    top: 320px;
}
.useSevice Input {
    width: 1093px;
    height: 44px;
}
.btnCancel button {
    /* box-sizing: border-box; */
    /* flex-direction: row; */
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    width: 147px;
    height: 48px;
    left: 634.5px;
    top: 730px;
    color: #FF9138;
    background: #FFF2E7;
    border: 1.5px solid #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border-radius: 8px;
}
.btnAdd button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    position: absolute;
    width: 147px;
    height: 48px;
    left: 837.5px;
    top: 730px;
    color: white;
    background: #FF9138;
    box-shadow: 0px 0px 6px #E7E9F2;
    border: 1.5px solid #FF9138;
    border-radius: 8px;
}
/* .UpdateRight select option[disabled]:first-child {
    color: gray;
} */
.useSevice ::placeholder {
    color: #535261;
} 