.PrinsContainer h1{
    position: absolute;
    width: 1000px;
    height: 36px;
    left: 224px;
    top: 10px;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
    color: #7E7D88;
}
.PrinsContainer img{
    padding:0 10px;
    margin: 2px 10px;
}
.PrinsContainer .PrintLink{
    font-size: 20px;
    font-weight: 500;
    color: #7E7D88;
    padding-right: 8px;
}
.PrinsContainer a{
    text-decoration: none;
    color: #FF9138;
}
.PrinsContainer h2 {
    font-family: 'Nunito';
    font-style: normal;
    position: absolute;
    width: 38%;
    height: 36px;
    top: 11%;
    font-weight: 700;
    font-size: 25px;
    line-height: 20px;
    color: #FF7506;
    margin-left: 13.5%;
}
.PrintsBody {
    position: absolute;
    width: 469px;
    height: 385px;
    left: 650px;
    top: 156px;
    background: white;
    box-shadow: 2px 2px 8px rgba(114, 120, 124, 0.8);
    border-radius: 16px;
}
.PrintsFoot{
    position: absolute;
    width: 469px;
    height: 110px;
    left: 650px;
    top: 431px;
    background: #FF9138;
    box-shadow: 2px 2px 8px rgba(114, 120, 124, 0.8);
    border-radius: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
.PrintText label {
    font-family: 'Nunito';
    font-style: normal;
    position: absolute;
    width: 283px;
    height: 30px;
    left: 96px;
    top: 48px;
    font-weight: 700;
    font-size: 32px;
    line-height: 30px;
    color: #535261;
    padding: 5px;
}
.PrintText1 label{
    font-family: 'Nunito';
    font-style: normal;
    position: absolute;
    width: 283px;
    height: 30px;
    left: 132px;
    top: 120px;
    font-weight: 800;
    font-size: 56px;
    line-height: 30px;
    color: orange;
    padding: 5px;
}
.PrintText2 label{
    font-family: 'Nunito';
    font-style: normal;
    position: absolute;
    width: 319px;
    height: 30px;
    left: 85px;
    top: 204px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #535261;
    padding: 5px;
}
.PrintText3 label{
    position: absolute;
    width: 319px;
    height: 30px;
    left: 110px;
    top: 22px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding: 5px;
}
.PrintText3 p{
    position: absolute;
    width: 319px;
    height: 30px;
    left: 220px;
    top: 5px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding: 5px;
}
.PrintText4 label{
    position: absolute;
    width: 319px;
    height: 30px;
    left: 110px;
    top: 45px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding: 5px;
}
.PrintText4 p{
    position: absolute;
    width: 319px;
    height: 30px;
    left: 220px;
    top: 28px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: white;
    padding: 5px;
}
.BtnTat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12px 4px;
    gap: 4px;
    position: absolute;
    width: 80px;
    height: 100px;
    top: 124px;
    left: 930px;
}
.BtnTat img 
{
    width: 25px;
    height: 25px;
    margin-left: 150px;
    margin-top: 0px;
}
.BtnTat a 
{
    width: 72px;
    height: 38px;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FF7506;
}